@model IEnumerable<Domain.Entities.Show>

@{
    ViewBag.Title = "Overzicht van eerstkomende films";
}
<div class="text-center">
    <p>
        <h2>Het aanbod van eerstkomende films in @ViewBag.Location</h2>
        <h3>Tijd: @ViewBag.DayOfWeek  @ViewBag.HourOfDay:@ViewBag.MinuteOfDay</h3>
        <input action="action" type="button" value="Terug naar vorige scherm" onclick="window.history.go(-1); return false;"/>
        <hr />
    </p>
</div>

<table class="table">
    <tr>
        <th>
            <p>Naam film:</p>
        </th>
        <th>
            <p>3D:</p>
        </th>
        <th>
            <p>Taal:</p>
        </th>
        <th>
            <p>Ondertiteling:</p>
        </th>
        <th>
            <p>Lengte:</p>
        </th>
        <th>
            <p>Zaal:</p>
        </th>
        <th>
            <p>Aanvangstijd:</p>
        </th>
        <th>
            <p>Eindtijd:</p>
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            <p>? - 2,50 euro korting!</p>
        </td>
        <td>
            @if (@ViewBag.threed == false)
            {
            <input class="check-box" disabled="disabled" type="checkbox" />
            }
            else
            {
        <input checked="checked" class="check-box" disabled="disabled" type="checkbox" />
        }
        </td>
        <td>
            <p>@ViewBag.language</p>
        </td>
        <td>
            <p>@ViewBag.sublanguage</p>
        </td>
        <td>
            <p>@ViewBag.length</p>
        </td>
        <td>
            <p>@ViewBag.room</p>
        </td>
        <td>
            <p>@ViewBag.begintime</p>
        </td>
        <td>
            <p>@ViewBag.endtime</p>
        </td>
        <td>
            <button class="btn btn-success" type="button" onclick="location.href = '@Url.Action("OrderMovie", "UpcomingShow", new { id = ViewBag.showid, secret = true}, null)'">Bestel</button>
        </td>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Is3D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.LanguageSub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            <button class="btn btn-success" type="button" onclick="location.href = '@Url.Action("OrderMovie", "UpcomingShow", new { id = item.ShowID, secret = false}, null)'">Bestel</button>
        </td>
    </tr>
}

</table>
