@model IEnumerable<Domain.Entities.Show>

@{
    ViewBag.Title = "Eerstkomende films";
}
<div class="text-center">
    <h2>Eerstkomende films</h2>
    <h3>Huidige tijd: @ViewBag.DayOfWeek  @ViewBag.HourOfDay:@ViewBag.MinuteOfDay</h3>
    <hr />
</div>
<!--movie segment To do: needs foreach loop-->
<div class="row">
    <div class="col-xs-2"></div>

    <div class="col-xs-8">
        <div class="well">
            <div class="row">
                <div class="col-xs-2">
                    <p>Zaal: @ViewBag.Showings[0].Room.RoomNumber</p>
                    <p>Begintijd: @ViewBag.Showings[0].BeginDateTime</p>
                    <p>Eindtijd: @ViewBag.Showings[0].EndDateTime</p>
                </div>

                <div class="col-xs-5">
                    <div class="text-center">
                        <h3>@ViewBag.Films[0].Name</h3>
                    </div>
                    <p>Duur: @ViewBag.Films[0].Length</p>
                    <p style="float: right">Taal: @ViewBag.Films[0].Language</p>
                    <p>Genre: @ViewBag.Films[0].FilmType</p>
                    <p style="float: right">Ondertiteling: @ViewBag.Films[0].LanguageSubs</p>
                    <p>Leeftijd: @ViewBag.Films[0].Age</p>
                    <p style="float: right">3D: @ViewBag.Films[0].Is3D</p>
                </div>

                <div class="col-xs-2">
                    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("Redirect", "UpcomingFilm", new { s = ViewBag.Showings[0].ShowingID, f = @ViewBag.Films[0].FilmID })'">Bestel kaartje(s)</button>
                </div>
            </div>

        </div>

    </div>

    <div class="col-xs-2"></div>

</div>
<!--movie segment-->

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
        </tr>
    }
</table>*@
